header .nav_bar .dir_anc:after
{
    right: -12px;
}
.h_recomend
{
    margin-right: 26px;
}
.t_lang .tl_anc .la_flag
{
    margin-right: 5px;
}
.t_lang .tl_anc > .lnr
{
    margin-left: 4px;
}
.changed
{
    left: 0;
}
.search_icon
{
    right: 28px;
}
.main_slider .swiper-button-prev
{
    left: 55px;
}
.main_slider .swiper-button-next
{
    right: 55px;
}
.main_slider .swiper-button-next:after
{
    content: '\e876';
}
.main_slider .swiper-button-prev:after
{
    content: '\e875';
}
.products_slider .swiper-button-next:after
{
    content: '\f054';
}
.products_slider .swiper-button-prev:after
{
    content: '\f053';
}
.products_slider .swiper-button-prev
{
    left: -85px;
}
.products_slider .swiper-button-next
{
    right: -85px;
}
.feat_cont .fe_icon
{
    margin-right: 20px;
}
.mail_cont .fm_check
{
    right: 5px;
}
.foo_social > li
{
    margin-right: 7px;
}

@media (min-width:992px) and (max-width:1199px)	
{
    .products_slider .swiper-button-prev
    {
        left: -20px;
    }
    .products_slider .swiper-button-next
    {
        right: -20px;
    }
}

@media (max-width:991px)	
{
    footer .fast_links .fsm_title:before
    {
        right: 20px;
    }
    .foo_social > li
    {
        margin-right: 0px;
    }
}

@media (min-width:768px) and (max-width:991px)	
{

}





@media (max-width:767px)	
{

    .h_recomend > li
    {
        margin-left: 14px;
        margin-right: 0;
    }
    .main_nav
    {
        left: 0;
    }
    .closebtn
    {
        right: 20px;
    }
    .nav_bar .sam_menu
    {
        margin-left: 20px;
    }
    .nav_bar .sam_menu > li > a
    {
        text-align: left;
    }
    header .nav_bar .dir_anc:after
    {
        right: 0px;
    }
    .st_lang.sm
    {
        left: 20px;
        margin-left: 0;
    }
    .h_recomend
    {
        margin-right: 0px;
    }
    .feat_cont .fe_icon
    {
        margin-right: 0px;
    }
}